h1 {
	color: #74D3E1;
}
.navbar {
  overflow: hidden;
  background-color: #DAA520;
  font-family: 'Trebuchet MS';
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 28px 32px;
}

/* Add a powderblue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: powderblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #A9A9A9;
  color: white;
  text-align: center;
}

/* Table */

table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: #88CCF1;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 20px;
  text-align: left;
  width: 33.3333%;
}
