h1 {
	color: #74D3E1;
}
.navbar {
  overflow: hidden;
  background-color: #DAA520;
  font-family: 'Trebuchet MS';
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 22px;
  color: white;
  text-align: center;
  padding: 28px 32px;
}

/* Add a powderblue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: powderblue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #A9A9A9;
  color: white;
  text-align: center;
}